<div class="task-column"  cdkDropList
  [cdkDropListData]="tasks"
  [id]="status"
  [cdkDropListDisabled]="dragDisabled"
  [cdkDropListConnectedTo]="getConnectedListIds(status)"
  (cdkDropListDropped)="drop($event)">
    <div class="column-header">
        <h6>{{ title }}</h6>
        <span class="task-count badge">{{ tasks.length }}</span>
    </div>

  <!-- <div
   cdkDropList
  [cdkDropListData]="tasks"
  [cdkDropListConnectedTo]="['todo', 'in_progress', 'done']"
  [id]="status"
  (cdkDropListDropped)="drop($event)"
    class="task-list"> -->
    <div
 
  class="task-list">

    <div
      *ngFor="let task of tasks; trackBy: trackById"
      cdkDrag
      [cdkDragDisabled]="dragDisabled"
      [cdkDragData]="task"
      class="task-card">
      <app-task-card [task]="task"></app-task-card>

     

    </div>

  </div>

</div>
